# Port configuration
PORT=5000

# Node Environment
NODE_ENV=development

# MongoDB URI (Replace with local URI or Atlas Connection string)
MONGO_URI=mongodb://localhost:27017/taskflow

# JWT Configurations
JWT_SECRET=super_secret_key_change_me_in_production_12345
JWT_EXPIRE=7d

# Authorized Client URL for CORS
CLIENT_URL=http://localhost:5173
